{% extends 'layouts/main.twig' %}
{% block content %}
    <h1>Ничего подходящего не найдено</h1>
    <p>Мы поискали среди айдишников пикселей, доменов и айдишников юзеров. Попробуйте изменить запрос.</p>
    <p>Посмотрите на котёнка, чтобы не грустить:</p>
    <p><img src="{{ get_param('baseUrl') }}img/kitten.jpg"></p>
{% endblock %}